
* {
  margin: 0;
  padding: 0;
}
#progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  align-items: center;
  
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
  color: #444;
}

#progress-bar-container li::after {
  content: " ";
  display: block;
  width: 6px;
  height: 6px;
  
  background-color: #777;
  margin: auto;
  border: 7px solid #fff;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.2);
  transition: all ease 0.25s;
}
#progress-bar-container li:hover::after {
  background: #555;
}

#progress-bar-container li.active::after {
  background: #207893;
}

#progress-bar-container #line {
  width: 80%;
  margin: auto;
  background-color: #eee;
  height: 6px;
  position: absolute;
   align-items: center;
  left: 10%;
  top: 57px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.75s;
}

#progress-bar-container #line-progress {
  content: " ";
  width: 8%;
  height: 100%;
  background-color: #207893;
  background: linear-gradient(to right #207893 0%, #2ea3b7 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25);
}
#progress-content-section {
  position: relative;
  top: 100px;
  width: 90%;
  margin: auto;
  background: #f3f3f3;
  border-radius: 4px;
}
/* #progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;
} */

.section-content h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
}

.section-content p {
  font-size: 16px;
  line-height: 1.8rem;
  color: #777;
}

.section-content {
  display: none;
  animation: FadeinUp 0.7s ease 1 forwards;
  transform: translateY(15px);
  opacity: 0;
}

.section-content.active {
  display: block;
  opacity: 1;
}
.progress-wrapper {
  margin: auto;
  max-width: 1080px;
  position: absolute;
}
#progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
  margin-top: 65px;
}
#progress-bar-container ul {
  padding-top: 15px;
  z-index: 999;
  position: absolute;
  width: 100%;
  margin-top: -40px;
}
#progress-bar-container li::before {
  content: " ";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #aaa;
  transition: all ease 0.3s;
}

#progress-bar-container li.active::before,
#progress-bar-container li:hover::before {
  border: 2px solid #fff;
  background-color: crimson;
}
#progress-bar-container li {
  list-style: none;
  float: left;
  width: 33%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}

.c-stepper {
  display: flex;
  flex-wrap: wrap;
}

.c-stepper__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-stepper__item:before {
  --size: 3rem;
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 1rem auto 0;
}


.c-stepper__item:not(:last-child):after {
  content: "";
  position: relative;
  top: 1.5rem;
  left: 50%;
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}

.c-stepper {
  --size: 3rem;
  --spacing: 0.5rem;
}

.c-stepper__item:not(:last-child):after {
  width: calc(100% - var(--size) - calc(var(--spacing) * 2));
  left: calc(50% + calc(var(--size) / 2 + var(--spacing)));
}
@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



.ig_btn {
  width: 70px;
  height: 70px;
  margin: 20px;
  outline: none;
  border: none;
  background: #d6d6d6;
  box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.btn:hover {
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.21);
  }
  to {
    transform: scale(1);
  }
}



.card_faq {
  background: #fff;
  color: #333;
  margin: 15rem auto;
  width: 90%;
  max-width: 1200px;
  min-height: 30rem;
  border-radius: 2rem;
}

.hero {
  display: flex;
  justify-content: center;
  transform: translateY(-55%);
}
.hero .img {
  filter: drop-shadow(0rem 1.5rem rgba(0,0,0,0.1));
  transition: 0.3s ease-out;
}
.card:hover .img {
  filter: drop-shadow(0rem 2.5rem rgba(0,0,0,0.1));
}

.title {
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
}

.acc-container {
  padding: 4rem 2rem;
}
.acc-btn {
  width: 100%;
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
  text-align: left;
  transition: all 0.5s linear;
}
.acc-btn:after {
  content: "\27A4";
  color: #fa8d0c;
  float: right;
  transition: all 0.3s linear;
}
.acc-btn.is-open:after {
  transform: rotate(90deg);
}
.acc-btn:hover, .acc-btn.is-open {
  color: #000;
  font-weight: bold;
}

.acc-content {
  max-height: 0;
  color: rgba(0,0,0,0.75);
  font-size: 1.5rem;
  margin: 0 2rem;
  padding-left: 1rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-bottom: 1px solid #ccc;
}

.credit {
  text-align: center;
  padding: 1rem;
}
.credit a {
  text-decoration: wavy underline;
  color: dodgerblue;
}







label,
input,
textarea {
    display: block;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.3em;
}
span {
    font-weight: 700;
    color: #102a43;
    line-height: 35px;
    line-height: 2.5rem;
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
input[type="submit"] {
    background: #fc4366;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 1.3em;
}

.container_form {
    width: 460px;
    margin: 5em auto;
}
form {
    background-color: #ffffff;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
}

.required-star {
    color: #fc4366;
}

input,
textarea {
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #e1e2eb;
    background-color: #fff;
    color: #102a43;
    caret-color: #829ab1;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1rem;
    line-height: 29px;
    line-height: 2rem;
    box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
    border-radius: 3px;
    line-height: 29px;
    line-height: 2rem;
}
.body {
font-family: 'Cairo', sans-serif;
font-family: 'Cardo', serif;
font-family: 'Noto Sans', sans-serif;
}